* { box-sizing: border-box;}

.ground {
  animation: move 5s steps(1000) infinite forwards;
}




@keyframes move {
  100% { background-position: -1680px 0px; }
}

@keyframes walk {
  100% { margin-left: 1024px;  transform: scale(2);  }
}

@keyframes jump {
  50% { bottom: 226px; }
  100% { bottom: 113px; }
}

@keyframes slide-left {
  100% { margin-right: 1024px; }
}

@@keyframes identifier {

} down-up {
  50% { margin-top: 200px;}
  100% { margin-top: 0px; }
}

.background {
  background-image: url("images/sonic.gif");
  width: 1024px;
  height: 1024px;
  border: thin solid black;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background-color: skyblue;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}


#ken {
  width: 279px;
  height: 250px;
  background: url("images/ken.png") repeat-x;
  animation:nadar 1s steps(7) infinite, moverse 10s steps(1000) infinite;
  position:relative;
  background-position:0;
  bottom:-670px;
  margin-left: -15px;
}
#wow {
  width: 830px;
  height: 686px;
  background: url("images/wow.gif") repeat-x;
  animation:moverse 10s steps(1000) infinite;
  position:relative;
  background-position:0;
  bottom: 300px;
  margin-left: -655px;
}
#pajaro {
  width: 328px;
  height: 319px;
  background: url("images/pajaro.png") repeat-x;
  animation:nadar 1s steps(6) infinite, moverse 10s steps(100) infinite;
  position:relative;
  background-position:0;
  bottom: 300px;
  margin-left: -355px;
}

@keyframes nadar {
    0% { background-position:0 }
    100% { background-position: -2000px }
}

@keyframes moverse {
    100% { margin-left: 800px; }
}

@keyframes movebg {
  0% { background-position:550px }
  100% { background-position:0 }
}
